.main {
  width: 100vw;
}

.container {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 5px;
  width: 350px;
  height: 35px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
}

.strongBilly {
  color: #85a340;
}

.main > a {
  margin-left: 15px;
}

.spacerDiv {
  height: 15px;
}
