.actionsBtn {
  width: 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.actionsBtn:hover, .delete:hover {
  border: none;
  box-shadow: none;
}

.delete {
  width: 50px;
  color: #a52a2a;
}
