.main {
  width: 100vw;
}

.container {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strongBilly {
  color: #85a340;
}

.main > a {
  margin-left: 15px;
}

.error {
  color: red;
}

.spacerDiv {
  height: 15px;
}
